<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IS_Gippokrat.Properties.Settings.IS_GippokratConnectionString"
            connectionString="Data Source=ILLIUM\SQLEXPRESS;Initial Catalog=IS:Gippokrat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>